# LIMPIEZA V 21/08

# Hip√≥tesis:

1. La edad, el trabajo, el estado civil, la educaci√≥n, la situaci√≥n de deuda y la forma de contacto pueden influir en la probabilidad de que un cliente acepte la oferta.

2. El n√∫mero de veces que se ha contactado a un cliente en el pasado (campo campaign), el n√∫mero de d√≠as que han pasado desde el √∫ltimo contacto (campo pdays), y el resultado de la campa√±a anterior (campo poutcome) pueden afectar la respuesta del cliente a una nueva oferta. 
   
3. Las variables econ√≥micas (tales como el √≠ndice de precios al consumidor (cons.price.idx), la tasa de variaci√≥n del empleo (emp.var.rate), etc.) pueden influir en la probabilidad de que un cliente acepte la oferta.
   
4. Los clientes que ya tienen una hipoteca (housing) o un pr√©stamo (loan) pueden ser menos propensos a aceptar una nueva oferta, ya que podr√≠an estar limitados financieramente.

1. Es el momento de eliminar los nulos:
- Reemplazad los valores nulos del resto de las columnas categ√≥ricas por la moda, usando el m√©todo SimpleImputer.
üí° Pista üí° La moda en este tipo de aproximaci√≥n se indica como most_frequent.

In [35]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
from sklearn.impute import SimpleImputer

In [36]:
df = pd.read_csv("data/pair3_bank_additional_full.csv", index_col = 0)
df_iterative = df.copy()
df_knn = df.copy()
df_simple = df.copy()

- Utilizad el m√©todo Iterative Imputer para reemplazar todos los valores nulos de las columnas num√©ricas.

In [37]:
df_iterative.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41186 entries, 0 to 41185
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               41186 non-null  int64
 1   age                 36884 non-null  float64
 2   job                 36595 non-null  object
 3   marital             32983 non-null  object
 4   education           27243 non-null  object
 5   default             32589 non-null  float64
 6   housing             40196 non-null  float64
 7   loan                32244 non-null  float64
 8   contact             41186 non-null  object
 9   duration            41186 non-null  int64
 10  campaign            40754 non-null  float64
 11  pdays               41186 non-null  int64
 12  previous            41186 non-null  int64
 13  poutcome            41186 non-null  object
 14  emp,var,rate        28415 non-null  float64
 15  cons,price,idx      36886 non-null  float64
 16  cons,conf,idx       41186 non-null  float64
 17  euribor3m           41186 non-null  float64
 18  nr,employed         41186 non-null  float64
 19  y                   28435 non-null  object
 20  month_day_week      41186 non-null  object
 21  loan_modificado     32244 non-null  object
 22  housing_modificado  40196 non-null  object
 23  default_modificado  32589 non-null  object
 24  month               41186 non-null  object
 25  day                 41186 non-null  object
dtypes: float64(10), int64(4), object(12)
memory usage: 8.5+ MB

In [38]:
numericas = df_iterative.select_dtypes(include = np.number)
numericas.isnull().sum()

index                 0
age                4302
default            8597
housing             990
loan               8942
duration              0
campaign            432
pdays                 0
previous              0
emp,var,rate      12771
cons,price,idx     4300
cons,conf,idx         0
euribor3m             0
nr,employed           0
dtype: int64

In [39]:
imputer = IterativeImputer(n_nearest_features=None, imputation_order='ascending')

In [40]:
imputer.fit(numericas)

IterativeImputer()

In [41]:
imputer.transform(numericas)

array([[ 0.00000000e+00,  5.60000000e+01,  0.00000000e+00, ...,
        -3.64000000e+01,  4.85700000e+00,  5.19100000e+03],
       [ 1.00000000e+00,  4.02634124e+01,  0.00000000e+00, ...,
        -3.64000000e+01,  4.85700000e+00,  5.19100000e+03],
       [ 2.00000000e+00,  3.70000000e+01,  0.00000000e+00, ...,
        -3.64000000e+01,  4.85700000e+00,  5.19100000e+03],
       ...,
       [ 4.11850000e+04,  5.60000000e+01,  0.00000000e+00, ...,
        -5.08000000e+01,  1.02800000e+00,  4.96360000e+03],
       [ 4.11860000e+04,  4.40000000e+01,  0.00000000e+00, ...,
        -5.08000000e+01,  1.02800000e+00,  4.96360000e+03],
       [ 4.11870000e+04,  3.80000000e+01,  0.00000000e+00, ...,
        -5.08000000e+01,  1.02800000e+00,  4.96360000e+03]])

In [42]:
df_numericas_trans = pd.DataFrame(imputer.transform(numericas), columns = numericas.columns)

In [43]:
df_numericas_trans.head(4)

,index,age,default,housing,loan,duration,campaign,pdays,previous,"emp,var,rate","cons,price,idx","cons,conf,idx",euribor3m,"nr,employed"
0,0.0,56.000000,0.0,0.0,0.0,261.0,1.0,999.0,0.0,0.979499,93.994,-36.4,4.857,5191.0
1,1.0,40.263412,0.0,0.0,0.0,149.0,1.0,999.0,0.0,0.986306,93.994,-36.4,4.857,5191.0
2,2.0,37.000000,0.0,1.0,0.0,226.0,1.0,999.0,0.0,1.100000,93.994,-36.4,4.857,5191.0
3,3.0,40.000000,0.0,0.0,0.0,151.0,1.0,999.0,0.0,1.100000,93.994,-36.4,4.857,5191.0

In [44]:
df_numericas_trans.isnull().sum()

index             0
age               0
default           0
housing           0
loan              0
duration          0
campaign          0
pdays             0
previous          0
emp,var,rate      0
cons,price,idx    0
cons,conf,idx     0
euribor3m         0
nr,employed       0
dtype: int64

In [45]:
columnas = df_numericas_trans.columns
columnas

Index(['index', 'age', 'default', 'housing', 'loan', 'duration', 'campaign',
       'pdays', 'previous', 'emp,var,rate', 'cons,price,idx', 'cons,conf,idx',
       'euribor3m', 'nr,employed'],
      dtype='object')

In [46]:
df_iterative.drop(columnas, axis = 1, inplace = True)

In [47]:
df_iterative[columnas] = df_numericas_trans[columnas]

In [48]:
df_iterative.isnull().sum()

job                    4591
marital                8203
education             13943
contact                   0
poutcome                  0
y                     12751
month_day_week            0
loan_modificado        8942
housing_modificado      990
default_modificado     8597
month                     0
day                       0
index                     0
age                       0
default                   0
housing                   0
loan                      0
duration                  0
campaign                  0
pdays                     0
previous                  0
emp,var,rate              0
cons,price,idx            0
cons,conf,idx             0
euribor3m                 0
nr,employed               0
dtype: int64

- Reemplazad los valores nulos de la columna age por la media de la edad usando el m√©todo KNN Imputer.

In [49]:
df_knn.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41186 entries, 0 to 41185
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               41186 non-null  int64
 1   age                 36884 non-null  float64
 2   job                 36595 non-null  object
 3   marital             32983 non-null  object
 4   education           27243 non-null  object
 5   default             32589 non-null  float64
 6   housing             40196 non-null  float64
 7   loan                32244 non-null  float64
 8   contact             41186 non-null  object
 9   duration            41186 non-null  int64
 10  campaign            40754 non-null  float64
 11  pdays               41186 non-null  int64
 12  previous            41186 non-null  int64
 13  poutcome            41186 non-null  object
 14  emp,var,rate        28415 non-null  float64
 15  cons,price,idx      36886 non-null  float64
 16  cons,conf,idx       41186 non-null  float64
 17  euribor3m           41186 non-null  float64
 18  nr,employed         41186 non-null  float64
 19  y                   28435 non-null  object
 20  month_day_week      41186 non-null  object
 21  loan_modificado     32244 non-null  object
 22  housing_modificado  40196 non-null  object
 23  default_modificado  32589 non-null  object
 24  month               41186 non-null  object
 25  day                 41186 non-null  object
dtypes: float64(10), int64(4), object(12)
memory usage: 8.5+ MB

In [50]:
df_knn[["age"]].isnull().sum()

age    4302
dtype: int64

In [51]:
imputerKNN = KNNImputer(n_neighbors=5)
imputerKNN.fit(df_knn[["age"]])

KNNImputer()

In [52]:
age_knn = imputerKNN.transform(df_knn[["age"]])

In [53]:
df_knn_imputer = pd.DataFrame(age_knn, columns = df_knn[["age"]].columns)

In [54]:
df_knn_imputer.head()

         age
0  56.000000
1  39.555146
2  37.000000
3  40.000000
4  56.000000

In [55]:
columnas = df_knn[["age"]].columns
columnas

Index(['age'], dtype='object')

In [56]:
df_knn.drop(columnas, axis = 1, inplace = True)

In [57]:
df_knn[columnas] = age_knn

In [58]:
df_knn["age"].isnull().sum()

0

- Reemplazad los valores nulos de la columna age por la media de la edad usando el m√©todo Simple Imputer.

In [59]:
df_simple["age"].isnull().sum()

4302

In [60]:
imputer = SimpleImputer(strategy='mean', missing_values=np.nan)

In [61]:
imputer = imputer.fit(df_simple[['age']])

In [62]:
df_simple['age'] = imputer.transform(df_simple[['age']])

In [63]:
df_simple['age'].isnull().sum()

0

- ¬øPodr√≠ais explicar qu√© diferencia hay entre estos √∫ltimos tres ejercicios?

En el primer ejercicio, al aplicar el m√©todo "iterative-imputer" utilizamos los datos donde no hay nulos de otras columnas para estimar esos esos valores nulos. Como podemos pedirle los n√∫meros de iteraciones que queramos, conseguimos que el margen de error cada vez sea mayor, ya que coge un 70% y un 30% dirente cada vez que itera. 
En cambio, en el segundo ejercicio, hemos utilizado el m√©todo "KNN Imputer" que nos permite predecir el valor real del valor nulo, promediando las distancias entre los valores que puedan ser m√°s cercanos. 
Entre estos dos m√©todos mencionados, el m√©todo "iterative-imputer" lo vamos a utilizar cuando comprobemos que los valores nulos son aleatorios, es decir, no hay ning√∫n patr√≥n detr√°s de esos nulos y, por lo tanto, no encontramos relaci√≥n entre esas variables num√©ricas. Sin embargo, si s√≠ encontramos que tienen relaci√≥n esas variables num√©ricas, es mejor utilizar el m√©todo "iterative-imputer" por su precisi√≥n.
En cuanto al tercer ejercicio, hemos empleado el m√©todo "Simple-Imputer" que nos permite utilizar los estad√≠sticos (moda, media, mediana) para otorgar el valor de uno de los estad√≠sticos elegido a los valores nulos. A diferencia de los m√©todos primeros, el m√©todo "Simple-Imputer" no tiene presente la posible cercan√≠a u aproximaci√≥n de los valores nulos con su posible valor real, sino que directamente te lo cambia al estad√≠stico elegido, entendiendo que ese valor no quita vigor.

2. Guardad el csv.

In [64]:
df.to_csv("data/pair5_bank_additional_full.csv")