# EDA I 16/8

HIPÓTESIS:

- Tiempo de resolución: Se podría hipotetizar que los tickets con mayor severidad y prioridad son resueltos en menos días que los tickets con menor prioridad. Además, se podría examinar si hay alguna correlación entre el tipo de problema y el tiempo que toma resolverlo.
La pregunta que contestaremos es: ¿Son los tickets con mayor severidad y prioridad los que se resuelven antes?

- Satisfacción del cliente: Se podría hipotetizar que la satisfacción del cliente está relacionada con la velocidad de resolución del ticket y la categoría del problema. Por ejemplo, los clientes podrían estar más satisfechos si sus problemas de acceso y login se resuelven rápidamente en comparación con los problemas de software más complejos.
La pregunta que contestaremos es: ¿Están los clientes con problemas de acceso y login más contentos que los que tienen problemas de software?

- Desempeño del agente: Se podría hipotetizar que algunos agentes tienen un mejor desempeño que otros en la resolución de tickets. Se podrían explorar variables como el número de tickets asignados, el tiempo promedio de resolución y la satisfacción del cliente para identificar patrones en el desempeño de los agentes.
La pregunta que contestaremos es: ¿Cuáles son los empleados que más tickets atienden? ¿Son los empleados que atienden más tickets los que tardan más en solucionar los problemas de los clientes? ¿Y la media de la satisfacción de los clientes es menor en aquellos empleados que atienden más solicitudes?

- Cambios en el tiempo: Se podría hipotetizar que el volumen y la naturaleza de los problemas cambian con el tiempo. Por ejemplo, se podría explorar si hay un aumento en los problemas de acceso y login durante un determinado período de tiempo, o si hay una correlación entre la temporada del año y el tipo de problema reportado.
La pregunta que contestaremos es: ¿Hay alguna diferencia entre a lo largo del tiempo entre las distintas categorías de solicitudes de tickets que tenemos?

OBJETIVOS:

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("/mnt/c/Users/Andrea/Desktop/Adalab/MODULO_2/promoE_modulo2_sprint2_pairprogramming_AnaGuardiayAndreaCabrera/EDA_pair/data/historico_tickets_limpio_pandas.csv")

1. Haced una exploración inicial del dataframe:
- ¿Cuál es el número de filas y columnas?

In [5]:
df.shape

(97386, 14)

- ¿Cuál es el porcentaje de valores nulos en cada columna? Presenta los resultados en un dataframe, donde las columnas sean el nombre de las variables y el porcentaje de nulos.

In [6]:
df.isnull().sum()

Unnamed: 0         0
id_ticket          0
fecha              0
id_empleado        0
id_agente          0
categoría          0
tipo               0
severidad          0
prioridad          0
días_resolución    0
satisfacción       0
semestre           0
año                0
mes                0
dtype: int64

- ¿Qué tipos de datos hay en cada columna?

In [8]:
df.dtypes

Unnamed: 0          int64
id_ticket          object
fecha              object
id_empleado         int64
id_agente           int64
categoría          object
tipo               object
severidad          object
prioridad          object
días_resolución     int64
satisfacción        int64
semestre           object
año                 int64
mes                object
dtype: object

In [9]:
df.head(3)

,Unnamed: 0,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,semestre,año,mes
0,0,GDDENR-5042564453,2016-07-13,1735,4,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2º semestre,2016,Julio
1,1,GDDENR-8042508060,2016-05-18,1566,10,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016,Mayo
2,2,GDDESR-1342539995,2016-06-18,569,29,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5,1 semestre,2016,Junio

- Extraed la información general del dataframe.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97386 entries, 0 to 97385
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       97386 non-null  int64
 1   id_ticket        97386 non-null  object
 2   fecha            97386 non-null  object
 3   id_empleado      97386 non-null  int64
 4   id_agente        97386 non-null  int64
 5   categoría        97386 non-null  object
 6   tipo             97386 non-null  object
 7   severidad        97386 non-null  object
 8   prioridad        97386 non-null  object
 9   días_resolución  97386 non-null  int64
 10  satisfacción     97386 non-null  int64
 11  semestre         97386 non-null  object
 12  año              97386 non-null  int64
 13  mes              97386 non-null  object
dtypes: int64(6), object(8)
memory usage: 10.4+ MB

BONUS presenta los resultados en un dataframe. Os deberá quedar algo como esto: (VER GITBOOK)
Donde variable es cada una de las variables categóricas que tenemos en el dataset y n_unicos es una lista con los nombres de los valores únicos de cada variable.

In [29]:
variables = df.select_dtypes(include = "object")
variables.head()

,id_ticket,fecha,categoría,tipo,severidad,prioridad,semestre,mes
0,GDDENR-5042564453,2016-07-13,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,2º semestre,Julio
1,GDDENR-8042508060,2016-05-18,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,1 semestre,Mayo
2,GDDESR-1342539995,2016-06-18,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,1 semestre,Junio
3,GDDTSR-5942488006,2016-04-28,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,1 semestre,Abril
4,GDLEER-0042524120,2016-06-03,Software,Problema,2 - Normal,0 - Sin Asignar,1 semestre,Junio

In [13]:
variables.drop(columns = ["id_ticket", "fecha", "severidad", "prioridad", "mes"], inplace = True)

In [30]:
variables.head(1)

,id_ticket,fecha,categoría,tipo,severidad,prioridad,semestre,mes
0,GDDENR-5042564453,2016-07-13,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,2º semestre,Julio

In [31]:
variables.columns

Index(['id_ticket', 'fecha', 'categoría', 'tipo', 'severidad', 'prioridad',
       'semestre', 'mes'],
      dtype='object')

In [32]:
variables["id_ticket"].unique()

array(['GDDENR-5042564453', 'GDDENR-8042508060', 'GDDESR-1342539995', ...,
       'TWRTSR-9643846768', 'TWRTSR-9944138906', 'TWRTST-8643986162'],
      dtype=object)

In [49]:
dicc = {"variable":[], "n_unicos":[]}
for col in variables.columns:
    print(variables [col].unique())
    dicc["variable"].append(col)
    dicc["n_unicos"].append(variables [col].unique())

['GDDENR-5042564453' 'GDDENR-8042508060' 'GDDESR-1342539995' ...
 'TWRTSR-9643846768' 'TWRTSR-9944138906' 'TWRTST-8643986162']
['2016-07-13' '2016-05-18' '2016-06-18' ... '2020-06-03' '2020-06-12'
 '2020-02-19']
['Acceso/Login' 'Sistema' 'Software' 'Hardware']
['Problema' 'Solicitud']
['0 - Sin Clasificar' '2 - Normal' '4 - Crítico' '3 - Mayor' '1 - Menor']
['0 - Sin Asignar' '3 - Alta' '2 - Media' '1 - Baja']
['2º semestre' '1 semestre']
['Julio' 'Mayo' 'Junio' 'Abril' 'Agosto' 'Marzo' 'Enero' 'Septiembre'
 'Octubre' 'Diciembre' 'Noviembre' 'Febrero']

In [50]:
print(dicc)

{'variable': ['id_ticket', 'fecha', 'categoría', 'tipo', 'severidad', 'prioridad', 'semestre', 'mes'], 'n_unicos': [array(['GDDENR-5042564453', 'GDDENR-8042508060', 'GDDESR-1342539995', ...,
       'TWRTSR-9643846768', 'TWRTSR-9944138906', 'TWRTST-8643986162'],
      dtype=object), array(['2016-07-13', '2016-05-18', '2016-06-18', ..., '2020-06-03',
       '2020-06-12', '2020-02-19'], dtype=object), array(['Acceso/Login', 'Sistema', 'Software', 'Hardware'], dtype=object), array(['Problema', 'Solicitud'], dtype=object), array(['0 - Sin Clasificar', '2 - Normal', '4 - Crítico', '3 - Mayor',
       '1 - Menor'], dtype=object), array(['0 - Sin Asignar', '3 - Alta', '2 - Media', '1 - Baja'],
      dtype=object), array(['2º semestre', '1 semestre'], dtype=object), array(['Julio', 'Mayo', 'Junio', 'Abril', 'Agosto', 'Marzo', 'Enero',
       'Septiembre', 'Octubre', 'Diciembre', 'Noviembre', 'Febrero'],
      dtype=object)]}

In [52]:
len(dicc["variable"])

8

In [53]:
len(dicc["n_unicos"])

8

In [51]:
df_dicc = pd.DataFrame(dicc)

In [57]:
df_dicc.head()

    variable                                           n_unicos
0  id_ticket  [GDDENR-5042564453, GDDENR-8042508060, GDDESR-...
1      fecha  [2016-07-13, 2016-05-18, 2016-06-18, 2016-04-2...
2  categoría        [Acceso/Login, Sistema, Software, Hardware]
3       tipo                              [Problema, Solicitud]
4  severidad  [0 - Sin Clasificar, 2 - Normal, 4 - Crítico, ...

EXTRAED CONCLUSIONES:

- ¿Hay alguna columna que no tenga sentido su tipo de datos?

Sí, no tienen sentido que las columnas "satisfacción" y "año" sean numéricas, puesto que nos interesa más bien operar como ellas como categóricas para extraer conclusiones.

- ¿Hay alguna columna que no tenga sentido su nombre?

- ¿Hay alguna columna que no tenga sentido su contenido?

- ¿Hay alguna columna que tenga demasiadas categorías o valores que nos pueda hacer difícil trabajar con ella?