# EDA I 16/8

HIPÓTESIS:

- Tiempo de resolución: Se podría hipotetizar que los tickets con mayor severidad y prioridad son resueltos en menos días que los tickets con menor prioridad. Además, se podría examinar si hay alguna correlación entre el tipo de problema y el tiempo que toma resolverlo.
La pregunta que contestaremos es: ¿Son los tickets con mayor severidad y prioridad los que se resuelven antes?

- Satisfacción del cliente: Se podría hipotetizar que la satisfacción del cliente está relacionada con la velocidad de resolución del ticket y la categoría del problema. Por ejemplo, los clientes podrían estar más satisfechos si sus problemas de acceso y login se resuelven rápidamente en comparación con los problemas de software más complejos.
La pregunta que contestaremos es: ¿Están los clientes con problemas de acceso y login más contentos que los que tienen problemas de software?

- Desempeño del agente: Se podría hipotetizar que algunos agentes tienen un mejor desempeño que otros en la resolución de tickets. Se podrían explorar variables como el número de tickets asignados, el tiempo promedio de resolución y la satisfacción del cliente para identificar patrones en el desempeño de los agentes.
La pregunta que contestaremos es: ¿Cuáles son los empleados que más tickets atienden? ¿Son los empleados que atienden más tickets los que tardan más en solucionar los problemas de los clientes? ¿Y la media de la satisfacción de los clientes es menor en aquellos empleados que atienden más solicitudes?

- Cambios en el tiempo: Se podría hipotetizar que el volumen y la naturaleza de los problemas cambian con el tiempo. Por ejemplo, se podría explorar si hay un aumento en los problemas de acceso y login durante un determinado período de tiempo, o si hay una correlación entre la temporada del año y el tipo de problema reportado.
La pregunta que contestaremos es: ¿Hay alguna diferencia entre a lo largo del tiempo entre las distintas categorías de solicitudes de tickets que tenemos?

OBJETIVOS:

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/mnt/c/Users/Andrea/Desktop/Adalab/MODULO_2/promoE_modulo2_sprint2_pairprogramming_AnaGuardiayAndreaCabrera/EDA_pair/data/historico_tickets_limpio_pandas.csv")

1. Haced una exploración inicial del dataframe:
- ¿Cuál es el número de filas y columnas?

In [3]:
df.shape

(97386, 14)

- ¿Cuál es el porcentaje de valores nulos en cada columna? Presenta los resultados en un dataframe, donde las columnas sean el nombre de las variables y el porcentaje de nulos.

In [4]:
df.isnull().sum()

Unnamed: 0         0
id_ticket          0
fecha              0
id_empleado        0
id_agente          0
categoría          0
tipo               0
severidad          0
prioridad          0
días_resolución    0
satisfacción       0
semestre           0
año                0
mes                0
dtype: int64

- ¿Qué tipos de datos hay en cada columna?

In [5]:
df.dtypes

Unnamed: 0          int64
id_ticket          object
fecha              object
id_empleado         int64
id_agente           int64
categoría          object
tipo               object
severidad          object
prioridad          object
días_resolución     int64
satisfacción        int64
semestre           object
año                 int64
mes                object
dtype: object

In [6]:
df.head(3)

,Unnamed: 0,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,semestre,año,mes
0,0,GDDENR-5042564453,2016-07-13,1735,4,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2º semestre,2016,Julio
1,1,GDDENR-8042508060,2016-05-18,1566,10,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016,Mayo
2,2,GDDESR-1342539995,2016-06-18,569,29,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5,1 semestre,2016,Junio

- Extraed la información general del dataframe.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97386 entries, 0 to 97385
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       97386 non-null  int64
 1   id_ticket        97386 non-null  object
 2   fecha            97386 non-null  object
 3   id_empleado      97386 non-null  int64
 4   id_agente        97386 non-null  int64
 5   categoría        97386 non-null  object
 6   tipo             97386 non-null  object
 7   severidad        97386 non-null  object
 8   prioridad        97386 non-null  object
 9   días_resolución  97386 non-null  int64
 10  satisfacción     97386 non-null  int64
 11  semestre         97386 non-null  object
 12  año              97386 non-null  int64
 13  mes              97386 non-null  object
dtypes: int64(6), object(8)
memory usage: 10.4+ MB

BONUS presenta los resultados en un dataframe. Os deberá quedar algo como esto: (VER GITBOOK)
Donde variable es cada una de las variables categóricas que tenemos en el dataset y n_unicos es una lista con los nombres de los valores únicos de cada variable.

In [8]:
variables = df.select_dtypes(include = "object")
variables.head()

,id_ticket,fecha,categoría,tipo,severidad,prioridad,semestre,mes
0,GDDENR-5042564453,2016-07-13,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,2º semestre,Julio
1,GDDENR-8042508060,2016-05-18,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,1 semestre,Mayo
2,GDDESR-1342539995,2016-06-18,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,1 semestre,Junio
3,GDDTSR-5942488006,2016-04-28,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,1 semestre,Abril
4,GDLEER-0042524120,2016-06-03,Software,Problema,2 - Normal,0 - Sin Asignar,1 semestre,Junio

In [9]:
variables.drop(columns = ["id_ticket", "fecha", "severidad", "prioridad", "mes"], inplace = True)

In [10]:
variables.head(1)

      categoría      tipo     semestre
0  Acceso/Login  Problema  2º semestre

In [11]:
variables.columns

Index(['categoría', 'tipo', 'semestre'], dtype='object')

In [13]:
dicc = {"variable":[], "n_unicos":[]}
for col in variables.columns:
    print(variables [col].unique())
    dicc["variable"].append(col)
    dicc["n_unicos"].append(variables [col].unique())

['Acceso/Login' 'Sistema' 'Software' 'Hardware']
['Problema' 'Solicitud']
['2º semestre' '1 semestre']

In [14]:
print(dicc)

{'variable': ['categoría', 'tipo', 'semestre'], 'n_unicos': [array(['Acceso/Login', 'Sistema', 'Software', 'Hardware'], dtype=object), array(['Problema', 'Solicitud'], dtype=object), array(['2º semestre', '1 semestre'], dtype=object)]}

In [15]:
len(dicc["variable"])

3

In [16]:
len(dicc["n_unicos"])

3

In [17]:
df_dicc = pd.DataFrame(dicc)

In [18]:
df_dicc.head()

    variable                                     n_unicos
0  categoría  [Acceso/Login, Sistema, Software, Hardware]
1       tipo                        [Problema, Solicitud]
2   semestre                    [2º semestre, 1 semestre]

EXTRAED CONCLUSIONES:

- ¿Hay alguna columna que no tenga sentido su tipo de datos?

Sí, no tienen sentido que la columna "año" sea numérica, puesto que nos interesa más bien trabajar con ella como categórica para extraer conclusiones.
Además, observamos que la columna "satisfacción" el tipo de datos que tiene son integer y quizá, al tratarse de una puntuación, tendría más sentido que fuera de tipo float porque encontraríamos resultados más precisos a la hora de hallar una media, una mediana etc.

- ¿Hay alguna columna que no tenga sentido su nombre?

In [23]:
df.head(3)

,Unnamed: 0,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,semestre,año,mes
0,0,GDDENR-5042564453,2016-07-13,1735,4,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2º semestre,2016,Julio
1,1,GDDENR-8042508060,2016-05-18,1566,10,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016,Mayo
2,2,GDDESR-1342539995,2016-06-18,569,29,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5,1 semestre,2016,Junio

Consideramos que todas las columnas tienen un nombre apropiado en relación al valor que contienen.

- ¿Hay alguna columna que no tenga sentido su contenido?

Consideramos que todas las columnas tienen sentido su contenido, menos la columna "Unnamed:0" porque su contenido es igual al índice. Por lo que podríamos eliminar esta columna y no perderíamos los valores que ya están en el índice.

- ¿Hay alguna columna que tenga demasiadas categorías o valores que nos pueda hacer difícil trabajar con ella?

In [31]:
df["categoría"].value_counts()

categoría
Sistema         38961
Acceso/Login    29165
Software        19543
Hardware         9717
Name: count, dtype: int64

In [32]:
df["tipo"].value_counts()

tipo
Solicitud    73138
Problema     24248
Name: count, dtype: int64

In [33]:
df["severidad"].value_counts()

severidad
2 - Normal            88555
3 - Mayor              4831
1 - Menor              2254
4 - Crítico            1390
0 - Sin Clasificar      356
Name: count, dtype: int64

In [34]:
df["prioridad"].value_counts()

prioridad
3 - Alta           35511
0 - Sin Asignar    29376
1 - Baja           16670
2 - Media          15829
Name: count, dtype: int64

In [35]:
df["semestre"].value_counts()

semestre
2º semestre    49876
1 semestre     47510
Name: count, dtype: int64

In [36]:
df["mes"].value_counts()

mes
Octubre       8487
Agosto        8474
Diciembre     8392
Noviembre     8248
Marzo         8219
Septiembre    8210
Junio         8131
Mayo          8108
Julio         8065
Abril         7929
Febrero       7892
Enero         7231
Name: count, dtype: int64

Quizá por número la columna que más categorías tiene es "mes". Sin embargo, entendemos que aparezcan todos los meses como opciones para que los datos sean certeros. Por otro lado, la columna que probablemente contenga demasiadas categorías sea "severidad", ya que con dos categorías podría ser suficiente para ver si es de mayor o menos severidad.