# EDA 3 18/8

Nota Como siempre, después de cada gráfica incluid una pequeña explicación de lo que nos está mostrando la gráfica.

1. Estableced el tamaño de las figuras al inicio de vuestro jupyter para que todas tengan las mismas dimensiones.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sidetable
plt.rcParams["figure.figsize"] = (10,8)
import warnings
warnings.filterwarnings('ignore')

2. Manos a la obra con los plots, estos irán muy dirigidos hacia las preguntas que queremos contestar, para hacer una primera aproximación a nuestras hipótesis:
- En la primera gráfica tendremos que contestar la siguiente pregunta: ¿Son los tickets con mayor severidad y prioridad los que se resuelven antes?. Para eso tendréis que:
Crear un subplot con dos gráficas.
  - En la primera gráfica tendréis que mostrar la relación que existe entre la severidad y el tiempo de resolución. ¿Son los tickets que tienen una severidad más alta los que más tardan en resolverse?
  - En la segunda gráfica tendréis que mostrar la relación que existe entre la prioridad y el tiempo de resolución. ¿Son los tickets que tienen una prioridad más alta los que más tardan en resolverse?

In [2]:
df = pd.read_csv("data/historico_tickets_limpio_pandas.csv", index_col = 0)

In [3]:
df.head(2)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,semestre,año,mes
0,GDDENR-5042564453,2016-07-13,1735,4,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2º semestre,2016,Julio
1,GDDENR-8042508060,2016-05-18,1566,10,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016,Mayo

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 97386 entries, 0 to 29087
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_ticket        97386 non-null  object
 1   fecha            97386 non-null  object
 2   id_empleado      97386 non-null  int64
 3   id_agente        97386 non-null  int64
 4   categoría        97386 non-null  object
 5   tipo             97386 non-null  object
 6   severidad        97386 non-null  object
 7   prioridad        97386 non-null  object
 8   días_resolución  97386 non-null  int64
 9   satisfacción     97386 non-null  int64
 10  semestre         97386 non-null  object
 11  año              97386 non-null  int64
 12  mes              97386 non-null  object
dtypes: int64(5), object(8)
memory usage: 10.4+ MB

In [ ]:
fig, axes = plt.subplots(nrows =1, ncols = 2)
sns.swarmplot(x = "severidad", y = "días_resolución", data = df, ax =axes[0])
sns.swarmplot(x = "prioridad", y = "días_resolución", data = df, ax =axes[1]);

- En la segunda gráfica contestaremos a la siguiente pregunta: ¿Están los clientes con problemas de acceso y login más contentos que los que tienen problemas de software?. Para eso tendréis que:
  - Crear otro dataframe donde tengáis solo los datos para los datos para los problemas de tipo "Acceso/Login" o "Software".
  - Crear una gráfica donde podamos ver la satisfacción de los clientes en función de los problemas filtrados en el paso anterior.

In [5]:
df['tipo'].unique()

array(['Problema', 'Solicitud'], dtype=object)

In [6]:
df['categoría'].unique()

array(['Acceso/Login', 'Sistema', 'Software', 'Hardware'], dtype=object)

In [7]:
df_problemas = df[(df["categoría"] == "Acceso/Login") | (df["categoría"]  == "Software")]
df_problemas.head(2)

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,semestre,año,mes
0,GDDENR-5042564453,2016-07-13,1735,4,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2º semestre,2016,Julio
1,GDDENR-8042508060,2016-05-18,1566,10,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016,Mayo

In [9]:
sns.swarmplot(x = "categoría", y = "satisfacción", data = df_problemas);

- En la tercera gráfica contestaremos a las siguientes preguntas ¿Cuáles son los empleados que más tickets atienden? ¿Son los empleados que atienden más tickets los que tardan más en solucionar los problemas de los clientes? ¿Y la media de la satisfacción de los clientes es menor en aquellos empleados que atienden más solicitudes?. Para contestar a esto haremos 3 gráficas independientes:

  - En la primera gráfica deberemos, ¿Cuáles son los empleados que más tickets atienden?:
      - Sacar el número de tickets por empleado. Pista 💡 Para esto tendremos que usar un groupby.
      - Visualizar el resultado del groupby anterior con la gráfica que sea más adecuada.

In [37]:
df

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,semestre,año,mes
0,GDDENR-5042564453,2016-07-13,1735,4,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2º semestre,2016,Julio
1,GDDENR-8042508060,2016-05-18,1566,10,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016,Mayo
2,GDDESR-1342539995,2016-06-18,569,29,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5,1 semestre,2016,Junio
3,GDDTSR-5942488006,2016-04-28,320,40,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9,5,1 semestre,2016,Abril
4,GDLEER-0042524120,2016-06-03,1842,31,Software,Problema,2 - Normal,0 - Sin Asignar,0,5,1 semestre,2016,Junio
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29083,TWRTSR-8543883120,2020-02-22,1142,1,Sistema,Solicitud,3 - Mayor,1 - Baja,11,5,1 semestre,2020,Febrero
29084,TWRTSR-8744097039,2020-09-23,223,40,Sistema,Solicitud,1 - Menor,1 - Baja,7,4,2º semestre,2020,Septiembre
29085,TWRTSR-9643846768,2020-01-16,256,7,Sistema,Solicitud,3 - Mayor,1 - Baja,13,5,1 semestre,2020,Enero
29086,TWRTSR-9944138906,2020-11-03,1060,9,Sistema,Solicitud,1 - Menor,1 - Baja,9,5,2º semestre,2020,Noviembre
29087,TWRTST-8643986162,2020-06-04,1876,41,Sistema,Solicitud,1 - Menor,1 - Baja,6,4,1 semestre,2020,Junio

In [78]:
groupby = df.groupby("id_empleado")["id_ticket"].count()
df_groupby = pd.DataFrame(groupby).reset_index()
df_empleados_sort_ticket = df_groupby.sort_values("id_ticket", ascending = False)
df_empleados_sort_ticket

      id_empleado  id_ticket
753           754         73
284           285         73
635           636         71
522           523         69
78             79         69
...           ...        ...
1617         1618         31
71             72         31
1194         1195         29
98             99         27
792           793         26

[2000 rows x 2 columns]

In [77]:
sns.regplot("id_empleado","id_ticket", data = df_empleados_sort_ticket)

TypeError: regplot() got multiple values for argument 'data'

In [50]:
sns.jointplot("id_empleado",  "id_ticket", data = df_empleados_sort_ticket, color = "skyblue", kind = "scatter");

TypeError: jointplot() got multiple values for argument 'data'

In [47]:
sns.scatterplot('id_empleado', 'id_ticket', data = df_empleados_sort_ticket,
                s = 25, # tamaño de los marcadores   
                ) # puntos de distintos colores en función de la variable que indiquemos  
plt.show();

TypeError: scatterplot() got multiple values for argument 'data'

- En la segunda gráfica, ¿Son los empleados que atienden más tickets los que tardan más en solucionar los problemas de los clientes?
  - Deberéis crear una lista donde tengamos los "id's" de los 10 empleados que resuelvan más cantidad tickets y con los 10 empleados que resuelvan menos cantidad de tickets.
  - Usando la lista generada en el ejercicio anterior filtrad el dataframe para quedaros solo con los 10 seleccionados en el ejercicio anterior.
  - Una vez tengáis el dataframe filtrado, cread una gráfica donde veamos el tiempo de resolución de solicitudes para cada empleado

In [38]:
groupby2 = df.groupby("id_empleado")["días_resolución"].median()
df_groupby2 = pd.DataFrame(groupby2.reset_index())
df_empleados_sort_resolucion = df_groupby2.sort_values("días_resolución", ascending = False)
df_empleados_sort_resolucion

      id_empleado  días_resolución
1368         1369              9.0
1991         1992              8.5
1545         1546              8.0
1357         1358              8.0
1756         1757              8.0
...           ...              ...
108           109              1.0
1647         1648              1.0
1653         1654              1.0
1175         1176              1.0
1419         1420              1.0

[2000 rows x 2 columns]

In [16]:
mas_empleados = list(df[id_empleado])

NameError: name 'id_empleado' is not defined

In [ ]:
menos_empleados =

- En la tercera gráfica, ¿Y la media de la satisfacción de los clientes es menor en aquellos empleados que atienden más solicitudes?:
📌 Usaremos los mismos datos que en la pregunta anterior, el dataframe de los 10 empleados más productivos y menos productivos.
  - Cread una gráfica donde veamos la satisfacción de los clientes para cada empleado.

In [43]:
groupby3 = df.groupby("id_empleado")["satisfacción"].mean()
df_groupby3 = pd.DataFrame(groupby3.reset_index())
df_empleados_sort_satis = df_groupby3.sort_values("satisfacción", ascending = False)
df_empleados_sort_satis

      id_empleado  satisfacción
621           622      4.744681
858           859      4.666667
745           746      4.641026
1942         1943      4.589286
1835         1836      4.586957
...           ...           ...
1998         1999      3.575000
1824         1825      3.571429
1724         1725      3.567568
1365         1366      3.545455
838           839      3.488372

[2000 rows x 2 columns]

## Extra

In [ ]:
# pd.concat([df_empleados_sort_ticket, df_empleados_sort_resolucion], axis = 1, join = "inner")

In [46]:
# Cómo juntar diferentes DataFrames
# df_empl_aten = df_empleados_sort_ticket.merge(df_empleados_sort_resolucion, on = "id_empleado")
# df_empl_aten = df_empl_aten.merge(df_empleados_sort_satis, on = "id_empleado")
# df_empl_aten